version: '2.1'

volumes: 
  bots: {} 

networks:
  bottertoast: {} 

services:
  mongo:
    image: healthcheck/mongo  
    networks: 
      - bottertoast
    ports:
      - 27017:27017
    restart:
      "on-failure"
  autoheal:
    image: willfarrell/autoheal
    networks: 
      - bottertoast
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:  
      - /var/run/docker.sock:/var/run/docker.sock 
    restart:
      "on-failure"  
  bot-config:
    build: ./Bot-Config 
    networks: 
      - bottertoast
    ports:
      - 8080:8080
    environment:
      - HOST=
    restart:
      "on-failure"
    depends_on:
      bot-marketplace:
        condition: service_healthy
      bot-runtime:
        condition: service_healthy
  bot-runtime:
    build: ./Bot-Runtime 
    networks: 
      - bottertoast
    volumes:  
      - /var/run/docker.sock:/var/run/docker.sock 
      - bots:/usr/src/Bots 
    ports:
      - 3000:3000
    environment:
      - HOST=
      - SUBSCRIPTION_KEY=
    depends_on:
      mongo:
        condition: service_healthy
    restart:
      "on-failure"
  bot-marketplace:
    build: . 
    networks: 
      - bottertoast
    volumes: 
      - bots:/usr/src/Bots 
    ports:
      - 4000:4000 
    restart:
      "on-failure"
